h2 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 80%;
    height: 25px; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

  }